#header-nav {
  background-color: #e2e2e2;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list a {
  text-align: center;
  background-color: #f6f6f6;
}

#nav-list a:hover {
  background-color: #BFEFFF;
}

#ourMenu {
	font-size: 22px;
}

#titels {
	background-color: #f6f6f6;
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

#ueberschrift{
	margin-top: 10px;
	font-weight: bold;
}

#ourmenuzwei{
	margin-bottom: 20px;
	font-weight: bold;
}


